header {
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.doe-aqui {
    background-color: var(--button-primary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.25s ease-in-out;
}

.doe-aqui:hover {
    background-color: rgb(44, 44, 240);
}

.line {
    position: relative;
}

.line::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--secondary-color);
    left: 0;
    bottom: -5px;
    transition: 0.5s ease-in-out;
}

.line:hover::after {
    width: 100%;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--secondary-color);
    margin: 8px;
}

@media (max-width: 800px) {
    .links {
        display: none;
    }

    .nav .links.active {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #23232e;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        z-index: 0;
    }

    .mobile-menu {
        display: block;
        z-index: 1;
    }
}